In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("Salary_Data.csv")

In [3]:
dataset.info
dataset.describe

<bound method NDFrame.describe of     YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0>

In [4]:
y=dataset["Salary"]
x=dataset[["YearsExperience"]]

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7)

In [7]:
x_train

    YearsExperience
16              5.1
15              4.9
4               2.2
29             10.5
2               1.5
12              4.0
26              9.5
11              4.0
25              9.0
22              7.9
0               1.1
21              7.1
7               3.2
6               3.0
18              5.9
17              5.3
23              8.2
10              3.9
3               2.0
27              9.6
24              8.7

In [8]:
x_test

    YearsExperience
14              4.5
20              6.8
13              4.1
5               2.9
19              6.0
8               3.2
28             10.3
9               3.7
1               1.3

In [11]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [12]:
model.fit(x_train,y_train)

LinearRegression()

In [13]:
model.intercept_

24007.753235429613

In [14]:
model.coef_

array([9649.95867973])

In [15]:
pred_x=model.predict(x_test)

In [16]:
from sklearn.metrics import accuracy_score

In [17]:
from sklearn.metrics import mean_absolute_percentage_error
mean_absolute_percentage_error(y_test,pred_x)

0.09554902871821397

ANOTHER EXAMPLE //predicting mileage of a bike

In [18]:
import pandas as pd
import numpy as np
import matplotlib as mat

In [19]:
data=pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/MPG.csv')

In [22]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [23]:
data.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [40]:
data=data.dropna()

In [41]:
x=data[['cylinders','displacement','horsepower','weight', 'acceleration']]
y=data['mpg']

In [42]:
x.shape, y.shape

((392, 5), (392,))

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7)

In [71]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [72]:
model.fit(x_train,y_train)

LinearRegression()

In [73]:
y_pred= model.predict(x_test)

In [74]:
y_pred

array([23.51717644, 30.56004934, 31.79745153, 27.68946969, 23.36105529,
       23.85366091, 29.87455821, 25.3143129 , 25.74944558, 29.27040469,
       17.07904365,  9.65252153, 22.83443119, 29.92847492, 33.01868596,
       15.01149731, 12.22344594, 27.64940553, 22.47014927, 29.31457231,
       16.47307421, 10.76464601, 30.23704237, 29.17678749,  7.3101601 ,
       23.8369482 ,  9.58226897, 21.85599504, 25.6219417 , 26.74001667,
       22.21247345, 20.94688759, 29.75704613, 31.34557107, 30.81433563,
       27.65078097, 30.93422119, 19.80948272, 29.22009956, 30.20745493,
       26.62775147, 28.78305188, 29.00430229, 25.87719181, 16.64397914,
       32.26057315, 16.31291478, 24.44897445, 29.63637556, 10.94328428,
       10.04285185, 26.72871181, 27.22790491, 27.44530734, 29.36766111,
       30.52814256, 29.14733922, 31.55605616, 22.82887774, 26.27197762,
       20.59253672, 22.34881466, 29.08824589, 26.80964657, 16.17274695,
       25.23980477, 28.97366687, 25.38199179, 16.58088069, 25.21208093,
       30.80215299, 30.60923486, 31.1711353 , 14.25210312, 26.89249078,
       26.59950014, 31.03684283, 12.56684171, 23.31024369, 29.32476393,
       20.99680676, 16.51476535, 25.95355512, 29.19069163, 32.13825698,
       25.00802502, 15.34203348, 15.69603072, 13.81706296, 30.46924239,
       30.89660403, 23.57635703, 31.93988316, 30.34259204, 27.50185844,
       26.9730315 , 24.60951786, 24.07607296, 18.30352714, 19.3247147 ,
       26.65342243, 29.50058974, 16.33536096, 14.12381633, 14.24093953,
       18.18705263,  9.50410403, 19.08579667, 20.10589254, 30.77887435,
       29.24057305, 30.79835389, 27.49744263, 30.62339437, 24.14576908,
       15.56505992, 28.44005257, 26.29834672])

In [75]:
from sklearn.metrics import mean_squared_error

In [76]:
mean_squared_error(y_test,y_pred)

19.738375746493222

In [77]:
from sklearn.metrics import mean_absolute_percentage_error

In [78]:
mean_absolute_percentage_error(y_test,y_pred)

0.14286904084961158