1. Write a python program to swap below string  . Input = Ravi Kumar Patel,  output = Kumar Ravi patel

In [17]:
str1="Ravi"
str2="Kumar"
str3="patel"
print(str1,str2,str3)
str1,str2=str2,str1
print(str1,str2,str3)

Ravi Kumar patel
Kumar Ravi patel

2. Write a python program to find maximum number from the list without using sorting  list = [87,43 ,76,1,99,23,8]

In [18]:
list=[87,43,76,1,99,23,8]
max=list[0]
for val in list:
  if val>max:
    max=val
print(max)

99

3. Write python to find the occurance of character in string s1= google output = g=2,o=2...

In [19]:
str1="google"
number={}
for val in str1:
  if val in number:
    number[val]+=1
  else :
    number[val]=1
for alphabet, count in number.items():
  print(alphabet,"=", count)

g = 2
o = 2
l = 1
e = 1

4. Use list comprehension to solve below problem . Find all number from 1-1000 are divided by 7

In [20]:
val=[num for num in range(0,1000) if num%7==0]
print(val)

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

5. Produce a list containing word even if number is even and odd if number is odd . Input = [75,8,94,2,23,29,100], output = [odd, even ,even ,...]

In [21]:
List=[75,8,94,2,23,29,100]
eveorodd=["even" if num%2==0 else "odd"  for num in List ]
print(eveorodd)

['odd', 'even', 'even', 'even', 'odd', 'odd', 'even']

6. Write a program to extract numbers from the string .input = 'hello 1 hi 9 . How are 10' output =[1,9,10]

In [22]:

import re
input="hello 1 hi 9 . How are 10"
digits=re.findall(r'\d+',input)
List=[num for num in digits]
print(List)

['1', '9', '10']

7. Write a program to find give string of email is in correct format or not.
Input=xyz@gmail.com output = correct

In [23]:

import re
def is_valid(email):
  e=r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
  if re.match(e,email):
    return True
  else:
    return False
email="xyz@gmail.com"
if is_valid(email):
  print("correct format")
else:
  print("not correct")

correct format

8. Write program to remove all white space in from the string

In [24]:
string="hello all.Good Morning"
str2=string.replace(" ","")
print(str2)

helloall.GoodMorning

9. Write a program to find sum of 1to50 numbers using list comprehension

In [25]:
value=sum([num for num in range(1,51)])
print(value)

1275

10. Write a program to check string is alpha numeric or not

In [26]:
string="hello"
if string.isalnum():
  print("yes,alpha numeric")
else:
  print("not alpha numeric")

yes,alpha numeric