In [2]:
import pandas as pd

In [6]:
data = pd.read_csv("logistic regression dataset-Social_Network_Ads.csv")

In [7]:
data.info

<bound method DataFrame.info of       User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]>

In [9]:
data.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [14]:
x=data[["Age","EstimatedSalary"]]
y=data["Purchased"]

In [15]:
from sklearn.model_selection import train_test_split

In [35]:
x_train,x_test,y_train,y_test= train_test_split(x,y,train_size=0.7)

In [36]:
x_train

     Age  EstimatedSalary
341   35            75000
204   58           101000
262   55           125000
198   26            80000
232   40           107000
..   ...              ...
351   37            75000
394   39            59000
227   56           133000
309   38            50000
293   37            77000

[280 rows x 2 columns]

In [37]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [38]:
model.fit(x_train,y_train)

LogisticRegression()

In [47]:
y_pred= model.predict(x_test)

In [48]:
from sklearn.metrics import mean_absolute_percentage_error

In [49]:
mean_absolute_percentage_error(y_test,y_pred)

0.3416666666666667